<html layout:decorator="layout">
<div layout:fragment="content">
    <form action="#" th:action="@{/persons/new}" th:object="${person}" method="post">
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="firstName">نام</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="middleName">نام میانی</label>
                <input type="text" class="form-control" id="middleName" th:field="*{middleName}"/>
            </div>
            <div class="form-group col-xs-3">
                <label for="lastName">نام خانوادگی</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="fatherName">نام پدر</label>
                <input type="text" class="form-control" id="fatherName" th:field="*{fatherName}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}">fatherName Error
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="gender">جنسیت</label>
                <select id="gender" th:field="*{gender}" class="form-control" data-validation="required">
                    <option selected="selected" value="">انتخاب کنید</option>
                    <option value="Female">زن</option>
                    <option value="Male">مرد</option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">gender Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="marital">وضعیت تأهل</label>
                <select id="marital" th:field="*{marital}" class="form-control" data-validation="required">
                    <option selected="selected" value="">انتخاب کنید</option>
                    <option value="Single">مجرد</option>
                    <option value="Married">متاهل</option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('marital')}" th:errors="*{marital}">marital Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="nationalId">کد ملی</label>
                <input type="text" class="form-control" id="nationalId" th:field="*{nationalId}"
                       data-validation="required nid"/>
                <div class="error" th:if="${#fields.hasErrors('nationalId')}" th:errors="*{nationalId}">FirstName
                    Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="birthCertificateId">شماره شناسنامه</label>
                <input type="text" class="form-control" id="birthCertificateId" th:field="*{birthCertificateId}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="placeOfBirth">محل تولد</label>
                <input type="text" class="form-control" id="placeOfBirth" th:field="*{placeOfBirth}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('placeOfBirth')}" th:errors="*{placeOfBirth}">placeOfBirth
                    Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="birthDate">تاریخ تولد</label>
                <input type="text" class="form-control" id="birthDate" th:field="*{birthDate}" data-validation="custom"
                       data-validation-regexp="^1[34][0-9][0-9]\/((0[1-6]\/((3[0-1])|([1-2][0-9])|(0[1-9])))|((1[0-2]|(0[7-9]))\/(30|([1-2][0-9])|(0[1-9]))))$"
                       data-validation-error-msg="تاریخ رادرست وارد نمایید(مثال:1361/10/03 )"/>
                <div class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">birthDate Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="issueDivision">محل صدور شناسنامه</label>
                <input type="text" class="form-control" id="issueDivision" th:field="*{issueDivision}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('issueDivision')}" th:errors="*{issueDivision}">
                    issueDivision Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="issueDivision">ایمیل</label>
                <input type="text" class="form-control" id="email" th:field="*{email}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    accountNumber Error
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="bankName">نام بانک</label>
                <!--<input type="text" class="form-control" id="bankName" th:field="*{bankName}"
                       data-validation="required"/>-->
                <select id="bankName" th:field="*{bankName}" class="form-control" data-validation="required">
                    <option selected="selected" value="">انتخاب کنید</option>
                    <option value="bmi">ملّي ايران</option>
                    <option value="sepah"> سپه</option>
                    <option value="edbi"> توسعه صادرات ايران</option>
                    <option value="bim"> صنعت و معدن</option>
                    <option value="bki"> کشاورزي</option>
                    <option value="maskan"> مسکن</option>
                    <option value="postbank">پست بانک ايران</option>
                    <option value="ttbank"> توسعه تعاون</option>
                    <option value="enbank"> اقتصاد نوين</option>
                    <option value="persian"> پارسيان</option>
                    <option value="bpi"> پاسارگاد</option>
                    <option value="karafarin"> کارآفرين</option>
                    <option value="sb24"> سامان</option>
                    <option value="sina"> سينا</option>
                    <option value="sbank"> سرمايه</option>
                    <option value="shahr"> شهر</option>
                    <option value="day"> دي</option>
                    <option value="bsi"> صادرات</option>
                    <option value="mellat"> ملت</option>
                    <option value="tejarat"> تجارت</option>
                    <option value="refah"> رفاه</option>
                    <option value="tourism"> گردشگري</option>
                    <option value="izbank"> ايران زمين</option>
                    <option value="ghavamin"> قوامين</option>
                    <option value="ansar"> انصار</option>
                    <option value="middleeast"> خاور ميانه</option>
                    <option value="ivbb">بانک مشترک ايران-ونزوئلا</option>
                    <option value="ba24"> آينده</option>
                    <option value="cid">موسسه اعتباري توسعه</option>
                    <option value="kosarfci">موسسه اعتباري کوثر مرکزي</option>
                    <option value="melal">موسسه اعتباري ملل</option>
                    <option value="cinoor">موسسه اعتباري نور</option>
                    <option value="caspianci">موسسه اعتباري کاسپين</option>
                    <option value="qmb"> قرض‌الحسنه مهر ايران</option>
                    <option value="rqbank"> قرض‌الحسنه رسالت</option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('bankName')}" th:errors="*{bankName}">
                    bankName Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="accountNumber">شماره حساب</label>
                <input type="text" class="form-control" id="accountNumber" th:field="*{accountNumber}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">
                    accountNumber Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="phone">تلفن </label>
                <input type="text" class="form-control" id="phone" th:field="*{phone}"
                       data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                    cellPhone Error
                </div>
            </div>
            <div class="form-group col-xs-3">
                <label for="cellPhone">تلفن همراه</label>
                <input type="text" class="form-control" id="cellPhone" th:field="*{cellPhone}"
                       data-validation="custom"
                       data-validation-regexp="^09(1[0-9]|3[0-9]|2[0-9])-?[0-9]{3}-?[0-9]{4}$"
                       data-validation-error-msg="تلفن رادرست وارد نمایید(مثال: *********09)"/>
                <div class="error" th:if="${#fields.hasErrors('cellPhone')}" th:errors="*{cellPhone}">
                    cellPhone Error
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="address">آدرس</label>
                <textarea class="form-control" rows="5" id="address" th:field="*{address}" data-validation="required"/>
                <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address Error
                </div>
            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">ثبت</button>
    </form>
</div>
</html>
<script>
    $.formUtils.addValidator({
        name: 'nid',
        validatorFunction: function (value, $el, config, language, $form) {
            return validate_nid(value);
        },
        errorMessage: 'کد ملی صحیح وارد نمایید',
        errorMessageKey: 'badNid'
    });
    $.validate({
        lang: 'fa',
        modules: 'date, security'
    });

    $(document).ready(function() {

        $('#address').autocomplete({
            serviceUrl: 'http://ganjensan.ir/Crm/GeoDivisions/Query',
            paramName: "name",
            delimiter: ",",
            transformResult: function(response) {

                return {
                    //must convert json to javascript object before process
                    suggestions: $.map($.parseJSON(response), function(item) {

                        return { value: item.value, data: item.id };
                    })

                };

            }

        });

    });
</script>
<script src="/bower_components/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<script src="../js/custom-validations.js"></script>

