<html layout:decorator="layout2">
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12 col-md-offset-5">
            <div class="error-template">
                <h1>
                    با عرض تاسف !</h1>
                <h2>
                    خطای ۴۰۴</h2>
                <div class="error-details">
                    متاسفانه صفحه مورد نظر شما وجود ندارد
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span>
                        مرا به صفخه اول ببر </a><a href="/contact" class="btn btn-default btn-lg"><span
                        class="glyphicon glyphicon-envelope"></span> تماس با ما </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>