<html layout:decorator="layout2">
<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 class="text-center">بسم الله الرحمن الرحيم</h4>
            <p>سلام بر شما و همه دوستانی که می خواهند شغل شرافتمندانه داشته باشند.</p>
            <p><span>شرکت مهندسی توسعه طرح و پردازش صفر و یک جهت جذب راه اندازی سایت برای </span>
                <span class="text-primary">داوطلبان انتخابات شوراهای شهر و روستا </span>
                <span>، از جوانان عزیزی که دارای روابط عمومی قوی ، هستند درخواست همکاری دارد.</span>
            </p>
            <p class="text-danger"><span class="label label-danger">  توجه !</span> برای این همکاری صداقت مهمترین رکن
                است و هر میزان شما همکاری نمائید درآمدتان بیشتر می شود و در اینده
                نیز ، پروژه های دیگری را در خدمت شما خواهیم بود و از شما استفاده خواهیم کرد</p>
            <p>هزینه هر یک سایت برای هر کاندیدا مبلغ 1 میلیون تومان خواهد بود</p>

            <div class="panel panel-info">
                <div class="panel-heading">
                    تعهدات این شرکت در قبال کاندیداها
                </div>
                <div class="panel-body">

                    <ul>
                        <li>ثبت دامین دلخواه کاندیدا</li>
                        <li>راه اندازی سایت</li>
                        <li>هاستینگ</li>
                        <li>نگهداری به مدت دوماه</li>
                        <li>مبلغ سایت ، توسط بازاریابان دریافت و پس از واریز
                            سهم شرکت به حساب شرکت ، و ثبت اسم و مشخصات داوطلب ، ظرف مدت 48 ساعت راه اندازی خواهد شد
                        </li>
                        <li class="text-warning"><span class="label label-danger">  توجه !</span> چنانچه کاندیدا بخواهد
                            سایت را ادامه دهد ، هزینه
                            پشتیبانی یک ساله 100 هزار تومان خواهد بود
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    شیوه ثبت نام بازار یابان
                </div>
                <div class="panel-body">

                    <ul >

                        <li >این اشخاص لازم است به آدرس رفته و کلیه اطلاعات را
                            به صورت دقیق وارد نمایند
                        </li>
                        <li class="text-danger" ><span class="label label-danger">  توجه !</span>   شرکت پس از بررسی های لازم وپس از دوروز ؛ لیست اشخاص
                            واجد شرایط را اعلام خواهد کرد
                        </li>
                        <li >تنها کسانی بازاریاب خواهند بود که اسامی و مشخصات
                            آنان در این سایت اعلام شود
                        </li>
                        <li class="text-danger" ><span class="label label-danger">  توجه !</span>  اعلام اسامی و مشخصات ، همواره به روز رسانی ، کسر و
                            اضافه خواهد شد
                        </li>
                        <li class="text-success">ارزیابی مشتریان از رفتار بازاریابان ، یکی از
                            فاکتورهای اساسی همکاری خواهد بود

                        </li>
                    </ul>
                    <footer class="text-warning">توجه فرمائید :<cite title="Source Title"> در صورت عدم رعایت مقررات ، و نارضایتی مشتریان ،
                        رابطه
                        همکاری قطع می شود</cite></footer>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    دستمزد بازار یابان
                </div>
                <div class="panel-body">
                    <ul >
                        <li >جذب <span class="text-danger">اولین </span> مشتری 20 درصد برای شما است (دو میلیون
                            ریال را بر می دارید و هشت میلیون ریال را به حساب شرکت واریز می کنید )
                        </li>
                        <li ><span class="text-danger">دومین و سومین </span>  مشتری 25 درصد بازاریاب ، 75 درصد
                            شرکت
                        </li>
                        <li ><span class="text-danger"> چهارمین و پنجمین  </span>    مشتری 30 درصد بازاریاب ، 70 درصد
                            شرکت
                        </li>
                        <li ><span class="text-danger">از ششمین مشتری </span>به بعد 35 درصد بازاریاب ، 65 درصد
                            شرکت
                        </li>
                        <li >همواره <span class="text-danger">مضرب دهمین مشتری </span> ، 100 درصد بازاریاب ، 0
                            درصد شرکت (رایگان برای بازاریاب)
                        </li>
                    </ul>
                </div>
            </div>
            <p>پس تلاش نمائید تا بدون سرمایه گذاری ، و فقط با صداقت و تلاش، درآمد خوبی داشته باشید</p>
            <h5 class="text-danger"><span class="label label-danger">  توجه !</span> تاکید می کنیم ، فقط صداقت و تلاش راهگشا است </h5>
            <br/>
            <a class="btn btn-primary btn-lg" href="/persons/new" role="button">شروع ثبت نام در بازاریاب آسان</a>
        </div>
    </div>
</div>
</html>